<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="il.org.spartan.spartanizer.BuilderID"
         name="Spartanization Suggestions"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="il.org.spartan.spartanizer.plugin.Builder"/> 
      </builder>
   </extension>
   <extension
         id="il.org.spartan.spartanizer.NatureID"
         name="Spartanization Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="il.org.spartan.spartanizer.plugin.Nature"/> 
      </runtime>
      <builder id="il.org.spartan.spartanizer.BuilderID"/> 
   </extension>
     <extension
     id="il.org.spartan.spartanizer.application"
     name="Spartan Refactoring Application"
     point="org.eclipse.core.runtime.applications">
     <application>
     <run class="il.org.spartan.spartanizer.application.Application"></run>
     </application>
   </extension>
      <extension point="org.eclipse.ui.startup">
     <startup class="il.org.spartan.spartanizer.plugin.Plugin"/>
   </extension>

<extension
    id="il.org.spartan.spartanizer.spartanizationSuggestion"
    name="Spartanization Suggestion"
    point="org.eclipse.core.resources.markers">
  <super type="org.eclipse.core.resources.problemmarker" />
</extension>
   <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator 
               markerType="il.org.spartan.spartanizer.spartanizationSuggestion"
         class="il.org.spartan.spartanizer.plugin.QuickFixer"/>
   </extension>
   <extension point="org.eclipse.ui.editors.annotationTypes">
     <type markerType="il.org.spartan.spartanizer.spartanizationSuggestion" 
       name="il.org.spartan.spartanizer.spartanizationMarker" />
   </extension>
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
   <specification
         annotationType="il.org.spartan.spartanizer.spartanizationMarker"
         colorPreferenceKey="il.org.spartan.spartanizer.spartanizationMarker.color"
         colorPreferenceValue="0,0,180"
         contributesToHeader="false"
         includeOnPreferencePage="true"
         label="Spartanization Suggestion"
         overviewRulerPreferenceKey="il.org.spartan.spartanizer.spartanizationMarker.overview"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="il.org.spartan.spartanizer.spartanizationMarker.text"
         textPreferenceValue="true"
         textStylePreferenceValue="PROBLEM_UNDERLINE"
         verticalRulerPreferenceKey="il.org.spartan.spartanizer.spartanizationMarker.ruler"
         verticalRulerPreferenceValue="true">
   </specification>
</extension>
   <extension point="org.eclipse.ui.commands">
      <category id="il.org.spartan.commands.category" name="Spartanization Category"/>
      <command
            categoryId="il.org.spartan.commands.category"
            id="il.org.spartan.commands.ToggleCommand"
            name="Toggle Automatic Spartanization Suggestion">
            <state
              class="org.eclipse.ui.handlers.RegistryToggleState:true"
              id="org.eclipse.ui.commands.toggleState">
            </state>
      </command>
      <category
            id="il.org.spartan.spartanizer.category"
            name="Spartan Refactoring">
      </category>
      <command
            categoryId="il.org.spartan.spartanizer.category"
            id="il.org.spartan.spartanizer.commands.ShortestOperand"
            name="Shortest operand first">
      </command>
      <command
            categoryId="il.org.spartan.spartanizer.category"
            id="il.org.spartan.spartanizer.commands.ExtractMethod"
            name="Extract statements to new method">
      </command>
      <command
            categoryId="il.org.spartan.spartanizer.category"
            id="il.org.spartan.spartanizer.commands.ForwardDeclaraion"
            name="Forward declaration">
      </command>
      <command
            categoryId="il.org.spartan.spartanizer.category"
            id="il.org.spartan.spartanizer.commands.InlineSingleUse"
            name="Inline single use">
      </command>
      <command
            categoryId="il.org.spartan.spartanizer.category"
            id="il.org.spartan.spartanizer.commands.RedundantEquality"
            name="Redandant equality">
      </command>
      <command
            categoryId="il.org.spartan.spartanizer.category"
            id="il.org.spartan.spartanizer.commands.ShortestBranchFirst"
            name="Shortest branch first">
      </command>
      <command
            categoryId="il.org.spartan.spartanizer.category"
            id="il.org.spartan.spartanizer.commands.Cleanup"
            name="Spartanize entire project">
      </command>
      <command
            categoryId="il.org.spartan.spartanizer.category"
            id="il.org.spartan.spartanizer.commands.ApplySpartanization"
            name="Spartanize active window">
      </command>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="il.org.spartan.spartanizer.handlers.ToggleSpartanizationHandler"
            commandId="il.org.spartan.commands.ToggleCommand">
      </handler>
      <handler
            class="il.org.spartan.spartanizer.handlers.CleanupHandler"
            commandId="il.org.spartan.spartanizer.commands.Cleanup">
      </handler>
      <handler
            class="il.org.spartan.spartanizer.handlers.ApplySpartanizationHandler"
            commandId="il.org.spartan.spartanizer.commands.ApplySpartanization">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="il.org.spartan.spartanizer.toolbars.spartanToolbar">
            <command
                  commandId="il.org.spartan.spartanizer.commands.ApplySpartanization"
                  icon="src/main/icons/spartan-warrior.gif"
                  tooltip="Spartanize this file"
                  id="il.org.spartan.spartanizer.toolbars.ApplySpartanization">
            </command>
         </toolbar>
      </menuContribution>
      
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="il.org.spartan.menus.spartanization"
               label="Spartanization"
               mnemonic="S">
            <command
                  commandId="il.org.spartan.commands.ToggleCommand"
                  id="il.org.spartan.menus.toggleCommand"
                  label="Enable Spartanization Suggestions"
                  style="toggle"
                  mnemonic="S">
            </command>
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
               </iterate>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=navigate">
         <menu
               id="org.eclipse.jdt.ui.refactoring.menu"
               label="Refactor">
            <menu
                  label="Spartanization">

               <command
                     commandId="il.org.spartan.spartanizer.commands.ShortestOperand"
                     id="il.org.spartan.menus.ShortestOperandCommand"
                     style="push">
               </command>
               <command
                     commandId="il.org.spartan.spartanizer.commands.ExtractMethod"
                     id="il.org.spartan.menus.ExtractMethodCommand"
                     style="push">
               </command>
               <command
                     commandId="il.org.spartan.spartanizer.commands.ForwardDeclaraion"
                     id="il.org.spartan.menus.ForwardDeclarationCommand"
                     style="push">
               </command>
               <command
                     commandId="il.org.spartan.spartanizer.commands.InlineSingleUse"
                     id="il.org.spartan.menus.InlineSingleUseCommand"
                     style="push">
               </command>
               <command
                     commandId="il.org.spartan.spartanizer.commands.RedundantEquality"
                     id="il.org.spartan.menus.RedundantEqualityCommand"
                     style="push">
               </command>
               <command
                     commandId="il.org.spartan.spartanizer.commands.ShortestBranchFirst"
                     id="il.org.spartan.menus.ShortestBranchFirstCommand"
                     style="push">
               </command>
               <command
                     commandId="il.org.spartan.spartanizer.commands.Cleanup"
                     id="il.org.spartan.menus.CleanupCommand"
                     style="push">
               </command>
               <command
                     commandId="il.org.spartan.spartanizer.commands.ApplySpartanization"
                     id="il.org.spartan.spartanizer.menus.ApplySpartanizationCommand"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.jdt.ui.refactoring.menu2"
               label="Spartanization">
          <command
                  commandId="il.org.spartan.spartanizer.commands.ShortestOperand"
                  style="push">
            </command>
            <command
                  commandId="il.org.spartan.spartanizer.commands.ExtractMethod"
                  style="push">
            </command>
            <command
                  commandId="il.org.spartan.spartanizer.commands.ForwardDeclaraion"
                  style="push">
            </command>
            <command
                  commandId="il.org.spartan.spartanizer.commands.InlineSingleUse"
                  style="push">
            </command>
            <command
                  commandId="il.org.spartan.spartanizer.commands.RedundantEquality"
                  style="push">
            </command>
            <command
                  commandId="il.org.spartan.spartanizer.commands.ShortestBranchFirst"
                  style="push">
            </command>
            <command
                     commandId="il.org.spartan.spartanizer.commands.Cleanup"
                     style="push">
            </command>

            <visibleWhen>
               <and>
                  <with
                        variable="activeEditorInput">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="java">
                        </test>
                     </adapt>
                  </with>
                  <not>
                     <iterate
                           ifEmpty="true"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                        </adapt>
                     </iterate>
                  </not>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="il.org.spartan.spartanizer.plugin.PluginPreferencesPage"
            id="il.org.spartan.spartanizer.preferences.PluginPreferencesPage"
            name="Spartanization"
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage">
      </page>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.resources.markers">
   </extension>
   <extension
           point="org.eclipse.core.runtime.preferences">
           <scope name="PluginPreferencesPage" class="il.org.spartan.spartanizer.plugin.PluginPreferencesPage"/>
        <initializer
              class="il.org.spartan.spartanizer.plugin.PluginPreferencesDefaultValuesInitializer">
        </initializer>
  </extension>
</plugin>
