<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Spartan Refactoring Actions"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.actionSet"
            label="Spartanization"
            visible="true">
         <menu
               id="il.ac.technion.cs.ssdl.spartan.refactoring.menu"
               label="Spartanization"
               path="org.eclipse.jdt.ui.refactoring.menu/dummySeperator">
            <separator name="group" />    
         </menu>
         
         <action
               class="il.ac.technion.cs.ssdl.spartan.refactoring.ShortestBranchAction"
               enablesFor="*"
               id="il.ac.technion.cs.ssdl.spartan.refactoring.actions.ShortestBranchAction"
               label="Shortest Conditional Branch First..."  
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/il.ac.technion.cs.ssdl.spartan.refactoring.menu/group"
               style="push">
         </action>

         <action
               class="il.ac.technion.cs.ssdl.spartan.refactoring.RedundantEqualityAction"
               enablesFor="*"
               id="il.ac.technion.cs.ssdl.spartan.refactoring.RedundantEqualityAction"
               label="Eliminate Redundant Equalities..."  
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/il.ac.technion.cs.ssdl.spartan.refactoring.menu/group"
               style="push">
         </action>
         
         <action
               class="il.ac.technion.cs.ssdl.spartan.refactoring.ConvertToTernaryAction"
               enablesFor="*"
               id="il.ac.technion.cs.ssdl.spartan.refactoring.ConvertToTrenaryAction"
               label="Convert Conditional to Ternary..."  
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/il.ac.technion.cs.ssdl.spartan.refactoring.menu/group"
               style="push">
         </action>

         <action
               class="il.ac.technion.cs.ssdl.spartan.refactoring.InlineSingleUseAction"
               enablesFor="*"
               id="il.ac.technion.cs.ssdl.spartan.refactoring.InlineSingleUseAction"
               label="Inline Single Use of Variable..."  
               menubarPath="org.eclipse.jdt.ui.refactoring.menu/il.ac.technion.cs.ssdl.spartan.refactoring.menu/group"
               style="push">
         </action>

      </actionSet>
   </extension>

   <extension
         id="il.ac.technion.cs.ssdl.spartan.builder.spartaBuilder"
         name="Spartanization Checker"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="il.ac.technion.cs.ssdl.spartan.builder.SpartaBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="il.ac.technion.cs.ssdl.spartan.spartaNature"
         name="Spartanization Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="il.ac.technion.cs.ssdl.spartan.builder.SpartanizationNature">
         </run>
      </runtime>
      <builder
            id="il.ac.technion.cs.ssdl.spartan.builder.spartaBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="il.ac.technion.cs.ssdl.spartan.contribution1">
         <action
               label="Add/Remove Spartanization"
               class="il.ac.technion.cs.ssdl.spartan.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="il.ac.technion.cs.ssdl.spartan.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   
<extension
    id="il.ac.technion.cs.ssdl.spartan.spartanizationSuggestion"
    name="Spartanization Suggestion"
    point="org.eclipse.core.resources.markers">
  <super type="org.eclipse.core.resources.problemmarker" />
  <super type="org.eclipse.core.resources.textmarker" />
</extension>

   <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="il.ac.technion.cs.ssdl.spartan.spartanizationSuggestion"
         class="il.ac.technion.cs.ssdl.spartan.builder.SpartanizationQuickfixer"/>
   </extension>
   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type markerType="il.ac.technion.cs.ssdl.spartan.spartanizationSuggestion" name="il.ac.technion.cs.ssdl.spartan.spartanizationMarker" />
   </extension>
   <extension
      point="org.eclipse.ui.editors.markerAnnotationSpecification">
   <specification
         annotationType="il.ac.technion.cs.ssdl.spartan.spartanizationMarker"
         colorPreferenceKey="il.ac.technion.cs.ssdl.spartan.spartanizationMarker.color"
         colorPreferenceValue="0,0,180"
         contributesToHeader="false"
         includeOnPreferencePage="true"
         label="Spartanization Suggestion"
         overviewRulerPreferenceKey="il.ac.technion.cs.ssdl.spartan.spartanizationMarker.overview"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="il.ac.technion.cs.ssdl.spartan.spartanizationMarker.text"
         textPreferenceValue="true"
         textStylePreferenceValue="PROBLEM_UNDERLINE"
         verticalRulerPreferenceKey="il.ac.technion.cs.ssdl.spartan.spartanizationMarker.ruler"
         verticalRulerPreferenceValue="true">
   </specification>
</extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="il.ac.technion.cs.ssdl.spartan.commands.category"
            name="Spartanization Category">
      </category>
      <command
            categoryId="il.ac.technion.cs.ssdl.spartan.commands.category"
            id="il.ac.technion.cs.ssdl.spartan.commands.ToggleCommand"
            name="Toggle Automatic Spartanization Suggestion">
      </command>
      <category
            id="il.ac.technion.cs.ssdl.spartan.refactoring.category"
            name="Spartan Refactoring">
      </category>
      <command
            categoryId="il.ac.technion.cs.ssdl.spartan.refactoring.category"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ChangeReturnToDollar"
            name="Change return variable to $">
      </command>
      <command
            categoryId="il.ac.technion.cs.ssdl.spartan.refactoring.category"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ConvertToTernary"
            name="Convert conditional to ternary">
      </command>
      <command
            categoryId="il.ac.technion.cs.ssdl.spartan.refactoring.category"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ForwardDeclaraion"
            name="Forward declaration">
      </command>
      <command
            categoryId="il.ac.technion.cs.ssdl.spartan.refactoring.category"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.commands.InlineSingleUse"
            name="Inline single use">
      </command>
      <command
            categoryId="il.ac.technion.cs.ssdl.spartan.refactoring.category"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.commands.RedundantEquality"
            name="Redandant equality">
      </command>
      <command
            categoryId="il.ac.technion.cs.ssdl.spartan.refactoring.category"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ShortestBranchFirst"
            name="Shortest branch first">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="il.ac.technion.cs.ssdl.spartan.commandhandlers.ToggleSpartanizationHandler"
            commandId="il.ac.technion.cs.ssdl.spartan.commands.ToggleCommand">
      </handler>
      <handler
            class="il.ac.technion.cs.ssdl.spartan.commandhandlers.ChangeReturnToDollarHandler"
            commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ChangeReturnToDollar">
      </handler>
      <handler
            class="il.ac.technion.cs.ssdl.spartan.commandhandlers.ConvertToTernaryHandler"
            commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ConvertToTernary">
      </handler>
      <handler
            class="il.ac.technion.cs.ssdl.spartan.commandhandlers.ForwardDeclarationHandler"
            commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ForwardDeclaraion">
      </handler>
      <handler
            class="il.ac.technion.cs.ssdl.spartan.commandhandlers.InlineSinleUseHandler"
            commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.InlineSingleUse">
      </handler>
      <handler
            class="il.ac.technion.cs.ssdl.spartan.commandhandlers.RedundantEqualityHandler"
            commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.RedundantEquality">
      </handler>
      <handler
            class="il.ac.technion.cs.ssdl.spartan.commandhandlers.ShortestBranchFirstHandler"
            commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ShortestBranchFirst">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="il.ac.technion.cs.ssdl.spartan.menus.spartanization"
               label="Spartanization"
               mnemonic="S">
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.commands.ToggleCommand"
                  id="il.ac.technion.cs.ssdl.spartan.menus.toggleCommand"
                  mnemonic="S">
            </command>
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
               </iterate>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=navigate">
         <menu
               id="org.eclipse.jdt.ui.refactoring.menu"
               label="Refactor">
            <menu
                  label="Spartanization">
               <command
                     commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ChangeReturnToDollar"
                     id="il.ac.technion.cs.ssdl.spartan.menus.ChangeReturnToDollarCommand"
                     style="push">
               </command>
               <command
                     commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ConvertToTernary"
                     id="il.ac.technion.cs.ssdl.spartan.menus.ConvertToTernaryCommand"
                     style="push">
               </command>
               <command
                     commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ForwardDeclaraion"
                     id="il.ac.technion.cs.ssdl.spartan.menus.ForwardDeclarationCommand"
                     style="push">
               </command>
               <command
                     commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.InlineSingleUse"
                     id="il.ac.technion.cs.ssdl.spartan.menus.InlineSingleUseCommand"
                     style="push">
               </command>
               <command
                     commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.RedundantEquality"
                     id="il.ac.technion.cs.ssdl.spartan.menus.RedundantEqualityCommand"
                     style="push">
               </command>
               <command
                     commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ShortestBranchFirst"
                     id="il.ac.technion.cs.ssdl.spartan.menus.ShortestBranchFirstCommand"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.jdt.ui.refactoring.menu2"
               label="Refactor">
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ChangeReturnToDollar"
                  style="push">
            </command>
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ConvertToTernary"
                  style="push">
            </command>
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ForwardDeclaraion"
                  style="push">
            </command>
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.InlineSingleUse"
                  style="push">
            </command>
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.RedundantEquality"
                  style="push">
            </command>
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ShortestBranchFirst"
                  style="push">
            </command>
            <visibleWhen>
               <with
                     variable="activeEditorInput">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="java">
                     </test>
                  </adapt>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   
</plugin>
