<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="il.ac.technion.cs.ssdl.spartan.builder.Builder"
         name="Spartanization Checker"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="il.ac.technion.cs.ssdl.spartan.builder.Builder">
         </run>
      </builder>
   </extension>
   <extension
         id="il.ac.technion.cs.ssdl.spartan.Nature"
         name="Spartanization Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="il.ac.technion.cs.ssdl.spartan.builder.Nature">
         </run>
      </runtime>
      <builder
            id="il.ac.technion.cs.ssdl.spartan.builder.Builder">
      </builder>
   </extension>
   
<extension
    id="il.ac.technion.cs.ssdl.spartan.spartanizationSuggestion"
    name="Spartanization Suggestion"
    point="org.eclipse.core.resources.markers">
  <super type="org.eclipse.core.resources.problemmarker" />
  <super type="org.eclipse.core.resources.textmarker" />
</extension>

   <extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="il.ac.technion.cs.ssdl.spartan.spartanizationSuggestion"
         class="il.ac.technion.cs.ssdl.spartan.builder.QuickFixer"/>
   </extension>
   <extension point="org.eclipse.ui.editors.annotationTypes">
      <type markerType="il.ac.technion.cs.ssdl.spartan.spartanizationSuggestion" name="il.ac.technion.cs.ssdl.spartan.spartanizationMarker" />
   </extension>
   <extension
      point="org.eclipse.ui.editors.markerAnnotationSpecification">
   <specification
         annotationType="il.ac.technion.cs.ssdl.spartan.spartanizationMarker"
         colorPreferenceKey="il.ac.technion.cs.ssdl.spartan.spartanizationMarker.color"
         colorPreferenceValue="0,0,180"
         contributesToHeader="false"
         includeOnPreferencePage="true"
         label="Spartanization Suggestion"
         overviewRulerPreferenceKey="il.ac.technion.cs.ssdl.spartan.spartanizationMarker.overview"
         overviewRulerPreferenceValue="true"
         presentationLayer="0"
         textPreferenceKey="il.ac.technion.cs.ssdl.spartan.spartanizationMarker.text"
         textPreferenceValue="true"
         textStylePreferenceValue="PROBLEM_UNDERLINE"
         verticalRulerPreferenceKey="il.ac.technion.cs.ssdl.spartan.spartanizationMarker.ruler"
         verticalRulerPreferenceValue="true">
   </specification>
</extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="il.ac.technion.cs.ssdl.spartan.commands.category"
            name="Spartanization Category">
      </category>
      <command
            categoryId="il.ac.technion.cs.ssdl.spartan.commands.category"
            id="il.ac.technion.cs.ssdl.spartan.commands.ToggleCommand"
            name="Toggle Automatic Spartanization Suggestion">
      </command>
      <category
            id="il.ac.technion.cs.ssdl.spartan.refactoring.category"
            name="Spartan Refactoring">
      </category>
      <command
            categoryId="il.ac.technion.cs.ssdl.spartan.refactoring.category"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ChangeReturnToDollar"
            name="Change return variable to $">
      </command>
      <command
            categoryId="il.ac.technion.cs.ssdl.spartan.refactoring.category"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ConvertToTernary"
            name="Convert conditional to ternary">
      </command>
      <command
            categoryId="il.ac.technion.cs.ssdl.spartan.refactoring.category"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ShortestOperand"
            name="Shortest operand first">
      </command>
      <command
            categoryId="il.ac.technion.cs.ssdl.spartan.refactoring.category"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ForwardDeclaraion"
            name="Forward declaration">
      </command>
      <command
            categoryId="il.ac.technion.cs.ssdl.spartan.refactoring.category"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.commands.InlineSingleUse"
            name="Inline single use">
      </command>
      <command
            categoryId="il.ac.technion.cs.ssdl.spartan.refactoring.category"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.commands.RedundantEquality"
            name="Redandant equality">
      </command>
      <command
            categoryId="il.ac.technion.cs.ssdl.spartan.refactoring.category"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ShortestBranchFirst"
            name="Shortest branch first">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="il.ac.technion.cs.ssdl.spartan.commandhandlers.ToggleSpartanizationHandler"
            commandId="il.ac.technion.cs.ssdl.spartan.commands.ToggleCommand">
      </handler>
      <handler
            class="il.ac.technion.cs.ssdl.spartan.commandhandlers.ChangeReturnToDollarHandler"
            commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ChangeReturnToDollar">
      </handler>
      <handler
            class="il.ac.technion.cs.ssdl.spartan.commandhandlers.TernarizeHandler"
            commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ConvertToTernary">
      </handler>
      <handler
            class="il.ac.technion.cs.ssdl.spartan.commandhandlers.ShortestOperandHandler"
            commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ShortestOperand">
      </handler>
      <handler
            class="il.ac.technion.cs.ssdl.spartan.commandhandlers.ForwardDeclarationHandler"
            commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ForwardDeclaraion">
      </handler>
      <handler
            class="il.ac.technion.cs.ssdl.spartan.commandhandlers.InlineSingleUseHandler"
            commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.InlineSingleUse">
      </handler>
      <handler
            class="il.ac.technion.cs.ssdl.spartan.commandhandlers.RedundantEqualityHandler"
            commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.RedundantEquality">
      </handler>
      <handler
            class="il.ac.technion.cs.ssdl.spartan.commandhandlers.ShortestBranchFirstHandler"
            commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ShortestBranchFirst">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="il.ac.technion.cs.ssdl.spartan.menus.spartanization"
               label="Spartanization"
               mnemonic="S">
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.commands.ToggleCommand"
                  id="il.ac.technion.cs.ssdl.spartan.menus.toggleCommand"
                  label="Disable Spartanization Suggestions"
                  mnemonic="S">
               <visibleWhen>
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="il.ac.technion.cs.ssdl.spartan.Nature">
                        </test>
                     </adapt>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.commands.ToggleCommand"
                  id="il.ac.technion.cs.ssdl.spartan.menus.toggleCommand"
                  label="Enable Spartanization Suggestions"
                  mnemonic="S">
               <visibleWhen>
                  <not>
                     <iterate
                           ifEmpty="true"
                           operator="and">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="il.ac.technion.cs.ssdl.spartan.Nature">
                           </test>
                        </adapt>
                     </iterate>
                  </not>
               </visibleWhen>
            </command>
            <visibleWhen>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
               </iterate>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?before=navigate">
         <menu
               id="org.eclipse.jdt.ui.refactoring.menu"
               label="Refactor">
            <menu
                  label="Spartanization">
               <command
                     commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ChangeReturnToDollar"
                     id="il.ac.technion.cs.ssdl.spartan.menus.ChangeReturnToDollarCommand"
                     style="push">
               </command>
               <command
                     commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ConvertToTernary"
                     id="il.ac.technion.cs.ssdl.spartan.menus.ConvertToTernaryCommand"
                     style="push">
               </command>
               <command
                     commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ShortestOperand"
                     id="il.ac.technion.cs.ssdl.spartan.menus.ShortestOperandCommand"
                     style="push">
               </command>
               <command
                     commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ForwardDeclaraion"
                     id="il.ac.technion.cs.ssdl.spartan.menus.ForwardDeclarationCommand"
                     style="push">
               </command>
               <command
                     commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.InlineSingleUse"
                     id="il.ac.technion.cs.ssdl.spartan.menus.InlineSingleUseCommand"
                     style="push">
               </command>
               <command
                     commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.RedundantEquality"
                     id="il.ac.technion.cs.ssdl.spartan.menus.RedundantEqualityCommand"
                     style="push">
               </command>
               <command
                     commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ShortestBranchFirst"
                     id="il.ac.technion.cs.ssdl.spartan.menus.ShortestBranchFirstCommand"
                     style="push">
               </command>
            </menu>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.jdt.ui.refactoring.menu2"
               label="Spartanization">
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ChangeReturnToDollar"
                  style="push">
            </command>
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ConvertToTernary"
                  style="push">
            </command>
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ShortestOperand"
                  style="push">
            </command>
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ForwardDeclaraion"
                  style="push">
            </command>
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.InlineSingleUse"
                  style="push">
            </command>
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.RedundantEquality"
                  style="push">
            </command>
            <command
                  commandId="il.ac.technion.cs.ssdl.spartan.refactoring.commands.ShortestBranchFirst"
                  style="push">
            </command>
            <visibleWhen>
               <and>
                  <with
                        variable="activeEditorInput">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.core.resources.extension"
                              value="java">
                        </test>
                     </adapt>
                  </with>
                  <not>
                     <iterate
                           ifEmpty="true"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                        </adapt>
                     </iterate>
                  </not>
               </and>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="il.ac.technion.cs.ssdl.spartan.refactoring.preferencesTab.SpartanizationPreferencePage"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.preferencesTab.SpartanizationPreferencePage"
            name="Spartanization"
            category="org.eclipse.jdt.ui.preferences.CompliancePreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="il.ac.technion.cs.ssdl.spartan.refactoring.preferencesTab.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.resources.markers">
   </extension>
   <extension point="org.eclipse.jdt.core.compilationParticipant">
      <compilationParticipant
            class="il.ac.technion.cs.ssdl.spartan.refactoring.preferencesTab.CompilerNotificator"
            createsProblems="true"
            id="il.ac.technion.cs.ssdl.spartan.refactoring.preferencesTab.CompilerNotificator"
            modifiesEnvironment="false">
      </compilationParticipant>
   </extension>
   
</plugin>
